@font-face {
	font-family: 'bigchunk';
	src: url('fonts/Chunkfive.otf');
}

/**********/
/* Colors */
/**********/

.blue {
	background-color: #54c6ff;
}

.yellow {
	background-color: #fffd00;
}

.orange {
	background-color: #ff7544
}

.green {
	background-color: #63ff4d;
}

/****************************************/
/* CSS (Internet Explorer 9 and below)  */
/****************************************/

body {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffeeff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
/***********/
/* NAV BAR */
/***********/

header {
	height: 123px;
	position: fixed;
	left: 5%;
	width: 90%;
	background-color: #fffd00;
	transition: 0.5s ease-in-out;
	z-index: 100;
	backface-visibility: hidden;
	box-shadow: 0px 3px 12px -5px #333;
}

header img {
	transition: 0.5s ease-in-out;
}

header ul {
	text-align: left;
	position: relative;
	perspective: 800px;
}

#icons li {
	display: inline-block;
	list-style: none;
	margin-left: 7.7%;
	margin-top: -1%;
	transition: 0.5s ease-in-out;
}

.panel a {
	position: relative;
	top: -15px;
	font-family:'bigchunk';
}


nav a {
	text-decoration: none;
	font-family: 'bigchunk', sans-serif;
	font-size: medium;
	color: black;
}

header a {
	color: black;
}

a:hover {
	text-decoration: underline;
}

#bar #icons {
	position: relative;
	left: -7px;
}

/**************/
/* SECOND NAV */
/**************/

.second-nav {
	background-color: #ff93cf;
	position: fixed;
	z-index: 4;
	margin-top: 65px;
	height: 58px;
	width: 90%;
	left: 5%;
	transition: 0.5s ease-in-out;
	backface-visibility: hidden;
}

.second-nav ul {
	margin-left: -2%;
}

.second-nav li {
	display: inline-block;
}

.second-nav a {
	text-decoration: none;
	color: black;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}

.second-nav a:hover {
	border-bottom: 1px solid black;
}

.active-second-header {
	transform: translateY(58px);
	box-shadow: 0px 3px 12px -5px #333;
}

/******************/
/* HAMBURGER MENU */
/******************/

#hamburger {
	display: none;
}

#hamburger-menu {
	display: none;
	transition: 0.5s ease-in-out;
}

#hamburger-menu li {
	list-style: none;
	text-align: left;
}

#hamburger:hover {
	cursor: pointer;
}

#hamburger img {
	width: 40px;
}

.active-header {
	transform: translateY(123px);
}

/**************/
/* IMAGE FLIP */
/**************/

.panel {
	width: 10%;
	height: 70px;
	margin: 0% auto;
	text-align: center;
	font-size: 2em;
	position: relative;
}

.panel img {
	width: 70px;
	position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transition: all .5s;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sti-box .front {
    z-index: 2;
}

.pregnancy-box .front{
	z-index: 2;
}

.sti-box .back {
    z-index: 1;
    top: 15px;
    transform: rotateY(180deg);
}
.pregnancy-box .back{
	z-index: 1;
	top: 15px;
	transform: rotateY(180deg);
}

.sti-box:hover .front {
    z-index: 1;
    transform: rotateY(-180deg);
} 

.pregnancy-box:hover .front {
	z-index: 1;
	transform: rotateY(-180deg);
}

.sti-box:hover .back {
    z-index: 2;   
    transform: rotateY(0deg);
}

.pregnancy-box:hover .back{
	z-index: 2;
	transform: rotateY(0deg);
}

/********/
/* BODY */
/********/

#wrapper {
	position: absolute;
	width: 90%;
	height: auto;
	left: 5%;
	top: 123px; 
	padding-top: 2%;
	text-align: center;
	background-color: #54c6ff;
	transition: 0.5s ease-in-out;
	z-index: 0;
}

#wrapper .description img {
	width: 19em;
}

#wrapper .description {
	position: relative;
	width: 50%;
	left: 25%;
}

#wrapper #our-stories {
	position: relative;
	width: 100%;
	background-color: #63ff4d;
	height:100%;
}

#wrapper #our-stories h1 {
	padding-top: 40px;
}

#wrapper #locations {
	position: relative;
	padding-top: 1px;
	width: 100%;
	height: 100%;
	background-color: #ff7544;
}


#our-stories h4 {
	position: relative;
	width: 80%;
	left: 10%;
}

#wrapper section h1 {
	font-size: 3em;
	line-height: 0em;
	padding-top: 20px;
	font-family: 'bigchunk', sans-serif;
}

#wrapper section h4 {
	position: relative;
	width: 80%;
	left: 10%;
	font-weight: normal;
	padding-bottom: 5%;
}

#wrapper h2 {
	font-family: 'bigchunk';
	font-size: 2.2em;
}

.resources {
	position: relative;
	background-color: #63ff4d;
	margin-top: 5%;
}

.resources ol {
	position: relative;
	width: 100%;
	left: -40px;
}

.resources ol li {
	top: 5px;
	padding: 3% 0;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 2em;
	list-style: none;
}

.resources li:hover {
	cursor: pointer;
}

.resources p {
	display: none;
	font-weight: normal;
	font-size: 0.8em;
	line-height: 1.2em;
	padding: 2% 15%;
}

iframe {
	width: 280px;
	height: 280px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.up-arrow {
	float: right;
	width: 3em;
	margin-right: 2em;
	margin-top: 1em;
}

/*****************/
/* Contraception */
/*****************/
   .pregnancy {
   	position: relative;
	background-color:#5AFF9C; /*#ff93cf; */ 
    padding-top: 1px;	
    height: 100%;
    }

    .pregnancy p{
	padding: 2% 15%;
	}

	.pregnancy-box{
    position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	transition: 0.5s ease-in-out;
	}

   
    .pregnancy-box img{
    position: relative;
    }
/************/
/* STI Page */
/************/

.sti {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}

.sti-name {
	text-align: left;
	margin-left: 4%;
	padding: 2%;
	font-family: 'bigchunk'
}

.sti-information {
	position: relative;
	width: 50%;
	transition: 0.5s ease-in-out;
}

.sti-box {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	transition: 0.5s ease-in-out;
}

.sti-box img {
	position: relative;
	width: 10em;
}

.sti-box .back {
	position: absolute;
}

/**************/
/* ABOUT PAGE */
/**************/

.staff {
	position: relative;
	width: 100%;
	padding-top: 40px;
	background-color: #D3EBFA;
	transition: 0.5s ease-in-out;
}

.staff-pic {
	display: inline-block;
	margin-left: 0%;
	overflow: hidden;
	width: 450px;
	height: 350px;
	transition: 0.5s ease-in-out;
}

.staff-description {
	width: 80%;
	margin-left: 10%;
	transition: 0.5s ease-in-out;
}

#wrapper .staff-pic img {
	width: 160px;
	transition: 0.5s ease-in-out;
}

.services {
	width: 100%;
	position: absolute;
	background-color: #63ff4d;
	padding-top: 40px;
}

/*********************/
/* CSS Media Queries */
/*********************/
@media (max-width: 1100px) {
	#icons:nth-child(2) a {
		left: -11px;
	}
}

@media (max-width: 1000px) {
	header #icons li {
		margin-left: 7.5%;
	}
}

@media (max-width: 990px) {
	#icons:nth-child(2) a {
		left: -20px;
	}
}

@media (max-width: 900px) {
	header #icons img {
		width: 65px;
	}
}

@media (max-width: 860px) {
	#wrapper .description span {
		display: none;
		transition: 0.5s ease-in-out;
	}	
}

@media (max-width: 750px) {
	.second-nav {
		display: none;
	}
	.active-header {
		transform: translateY(-58px);
	}
	#wrapper {
		top: 123px;
	}
}

@media (max-width: 730px) {
	#wrapper section h1 {
		font-size: 2em;
	}
}

@media (min-width: 701px) {
	.active-header {
		transform: translateY(58px);
	}
	#wrapper {
		transform: translateY(0px);
	}
}

@media (max-width: 700px) {
	header {
		transform: translateY(-123px);
	}
	header #icons li {
		display: none;
	}
	#wrapper {
		position: relative;
		top: 0px;
		transition: 0.5s ease-in-out;
		}
	#wrapper img {
		width: 15em; 
	}
	.active-header {
		transform: translateY(123px);
	}
	#hamburger-menu {
		position: absolute;
		top: -135px;
		height: 135px;
		width: 90%; 
		left: 5%;
		background-color: #fffd00;
		color: black;
		display: block;
		z-index: 2;
	}
	#hamburger {
		display: block;
		position: absolute;
		right: 50px;
		top: 10px;
		z-index: 5;
	}
	#wrapper .description {
		width: 100%; /* old value = 100 */
		left: 0%;
	}
	#wrapper #locations {
		top: 220%; /* old value = 159 */
		width: 100%; /* old value = 100 */

	}
	.staff-description {
		position: relative;
		width: 80%;
		margin-left: -5%;
		font-size: 0.8em;
	}
	.staff-pic {
		width: 70%;
		padding-bottom: 2em;
		transition: 0.5s ease-in-out;
	}
	.resources ol li {
		font-size: 1em;
		line-height: 1.2em;
	}
	#sti-navigation {
		display: none;
	}
}